@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* Header Styling */

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: center;
}

ul li a{
    text-decoration: none;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 16px 0;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}